/* 4 colors used throughout the web application, identified through devtools with solutions */
:root {
    --charcoal: #33393f;
    --turquoise: #2aefcb;
    --off-white: #e0eae4;
    --pink-fluro: #e866ec;
  }


/* set content highlight color and background */
::selection {
    background-color: var(--turquoise);
    color: var(--charcoal);
  }

header {}



/* Box Classes */

.main-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 33.33333%;
}

.single-card {
    display: column;
    align-items: flex-start;
    padding: 20px;
}